.myNameJapanease {
  font-weight: normal;
  font-size: 2.4rem;
  letter-spacing: 0.1rem;
}

.skillsHeader {
  font-weight: normal;
  text-align: left;
}

.skillsText {
  margin-top: 1rem;
  text-align: left;
}

.annotation {
  text-align: right;
  margin-top: 0.5rem;
}

// SP
@media only screen and (max-width: 767px) {
  .mainContainer {
    padding: 0 2rem;
  }

  .aboutContainer {
    margin-top: 2rem;
  }

  .profile {
    text-align: center;

    .myNameAlphabet {
      font-size: 1.4rem;
    }
  }

  .lead {
    margin-top: 1rem;
    font-size: 1.6rem;
  }

  .skillsContainer {
    margin-top: 6rem;

    .skillsHeader {
      font-size: 1.6rem;
      margin-top: 4rem;
    }

    .skillsText {
      font-size: 1.6rem;
    }
  }
}

// PC
@media only screen and (min-width: 768px) {
  .mainContainer {
    margin: 0 auto;
    width: 100%;
    max-width: 85rem;
    padding-left: 25rem;

    .inner {
      text-align: center;
    }
  }

  .aboutContainer {
    margin-top: 5rem;
  }

  .profile {
    display: flex;
    justify-content: center;

    .myName {
      letter-spacing: 0.1rem;
      margin-left: 4.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .myNameAlphabet {
        font-size: 1.8rem;
      }
    }
  }

  .lead {
    font-size: 1.8rem;
    margin-top: 3rem;
    text-align: left;
  }

  .skillsContainer {
    margin-top: 10rem;

    .skillsHeader {
      font-size: 1.8rem;
      margin-top: 6rem;
    }

    .skillsText {
      font-size: 1.8rem;
    }
  }
}
